<div class="row" *ngIf="!photo; else main_content">
  <h1>Cargando...</h1>
</div>
<ng-template #main_content>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <img [src]="'https://via.placeholder.com/150/'" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <form class="card-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Titulo"
              [value]="photo.title"
              #title
            />
          </div>
          <button class="btn btn-danger" (click)="deletePhoto(photo.id)">
            Eliminar
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
