<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">Subir Foto</div>
    <div class="card-body">
      <form (submit)="uploadPhoto(title)">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Titulo"
            #title
            required
          />
        </div>

        <input
          type="file"
          class="d-none"
          (change)="onPhotoSelected($event)"
          #photoInput
        />
        <img
          [src]="photoSelected || 'assets/no-image.png'"
          class="img-fluid"
          alt="No image"
          (click)="photoInput.click()"
        />

        <button class="btn btn-primary btn-block">Subir</button>
      </form>
    </div>
  </div>
</div>
